# Ignore generated audio files
pinyin.mp3
english.mp3
chinese.mp3

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Audio files
*.mp3
